.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Alegreya", serif;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1.5rem;
}

@media (min-width: 85rem) {
  .App {
    margin: 0 20%;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
} */

.App-header--title {
  font-size: 4.3165rem;
  font-weight: 700;
  margin: 0;
}

.App-header--subtitle {
  font-size: 2.3243rem;
  color: #ffe66d;
  margin: 0;
}

/* .App-footer {
} */

.App-link {
  color: white;
}

.App-footer__down {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.css-input {
  margin-top: 1rem;
  padding: 0.625rem 1.2rem;
  font-size: 1rem;
  border-width: 0.125rem 0 0.125rem 0.125rem;
  background-color: #ffffff;
  color: #423d3d;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 2rem 0 0 2rem;
  min-width: 13rem;
  line-height: 2rem;
}
.css-input:focus {
  outline: none;
}

.css-button {
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0 2rem 2rem 0;
  border-width: 0.125rem 0.125rem 0.125rem 0;
  padding: 0.625rem 1.2rem 0.625rem 1.1rem;
  line-height: 2rem;
  font-size: 1rem;
  color: #222;
  font-weight: 500;
}
